.DS_Store
.Rhistory

/data/.Rhistory
/data/.DS_Store

/src/.Rhistory
/src/.DS_Store
/src/ecrps_reconfigure.R
/src/out_bounds_testing.R
/src/plot_ensembles_old.R
/src/zero_mod_results_syn1.R

/data
/figs

*.nc
*.RData
*.rds
*.cmd
*.zip
*.txt
*.jpg
*.png
/src/__pycache__*
